<html>
<head>
    <link rel="stylesheet"  href ="pantalla-admin-log-in.component.css">
</head>
<body>
    <div class="pantalla-user-admin">
        <h1>Kahoot</h1>
        <h2>Iniciar sesión</h2>
            <form>
                <input type="text" placeholder="Correo electrónico" required autocomplete="new-email">
                <input type="password" placeholder="Contraseña" required autocomplete="new-password">
                
                <button [routerLink]="'/inicioSesion'">Iniciar Sesion</button>

                <button [routerLink]="'/crearCuenta'">Crear Cuenta</button>
            </form>
    </div>
    
    
</body>
</html>
