/* Estilo para el contenedor principal */
.pantalla-log-in {
    text-align: center;
    background-color: #f0f0f0;
    padding: 40px;
    border-radius: 20px;
    width: 500px;
    margin: 0 auto;
    margin-top: 100px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

/* Estilo para el título "Kahoot" */
h1 {
    color: #ff9900;
    font-size: 48px;
    margin-bottom: 40px;
}

/* Estilo para el subtítulo "Iniciar sesión" */
h2 {
    color: #333;
    font-size: 36px;
    margin-bottom: 40px;
}

/* Estilo para los campos de entrada y el botón */
input[type="text"],
input[type="password"],
button {
    display: block;
    margin: 20px auto;
    padding: 20px;
    width: 100%; /* Ancho fijo del 100% para igualar el ancho de los campos de entrada y los botones */
    border: 2px solid #ccc;
    border-radius: 10px;
    background-color: #fff;
    font-size: 24px;
    box-sizing: border-box;
}

/* Estilo para el botón de inicio de sesión */
button {
    background-color: #ff9900;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s;
    font-size: 24px;
}

/* Estilo para el botón al pasar el mouse sobre él */
button:hover {
    background-color: #e68a00;
}
