<html>
<head>
    <link rel="stylesheet"  href ="pantalla-admin-create-things.component.css">
</head>
<body>
    <div class="pantalla-admin-create-things">
        <a href="/admin">&#8592; Volver</a>
        <h1>Administrador</h1>
            <form>

                <button [routerLink]="'/game'">Elegir Propuesta </button>

                <button [routerLink]="'/proposal'">Crear Propuesta</button>

                <button [routerLink]="'/activity'">Crear Actividad</button>

               
            </form>
    </div>
    
    
</body>
</html>
