<html>
<head>
    <link rel="stylesheet"  href ="pantalla-create-activity.component.css">
</head>
<body>
    <div class="pantalla-create-activity">
        <h1>Kahoot</h1>
        <h2>Crear Actividad</h2>
            <form>

                <input type="text" placeholder="URL imagen" required autocomplete="new-url">
                <input type="text" placeholder="Título" required autocomplete="new-tittle">
                
                <button [routerLink]="'/inicioSesion'">Crear</button>

            </form>
    </div>
    
</body>
</html>