<html>
<head>
    <link rel="stylesheet"  href ="pantalla-user-pin.component.css">
</head>
<body>
    <div class="pantalla-user-pin">
        <a href="/">&#8592; Volver</a>
        <h1>Kahoot</h1>
            <form>
                <input type="text" placeholder="Nombre" required autocomplete="new-name">
                <input type="pin" placeholder="PIN del Juego" required autocomplete="new-pin">

                <button [routerLink]="'/lobby'">Jugar</button>
            </form>
    </div>
    
    
</body>
</html>